body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: silver;
    color: #697183;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 0;
    text-align: center;
  }

  form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  label {
    font-weight: bold;
  }

  #password-length {
    width: 3rem;
  }

  .password-display {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px;
    height: 1.5rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: .5rem;
  }

  button {
    grid-column: span 2;
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
    padding: .6rem 3rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #1976d2;
  }